name: Build ARM64

on:
  workflow_dispatch: # این خط به شما اجازه می‌دهد بیلد را به صورت دستی شروع کنید

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-unknown-linux-gnu

      - name: Install Linker
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu

      - name: Build for aarch64
        run: |
          cargo build --release --target aarch64-unknown-linux-gnu
        env:
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: slipstream-aarch64
          path: target/aarch64-unknown-linux-gnu/release/slipstream
